.topnav {
  text-align: center;
  color: black;
  display: inline; }
  .topnav-text {
    height: 9px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    color: #8e000a; }
  .topnav .dropdowns {
    padding: 23px 0 21px 0; }
  .topnav .social-icons {
    padding: 20px 0 18px 0; }

.hero-banner {
  width: 100%;
  height: 945px;
  background-image: linear-gradient(to right top, #ff0000, #f40000, #e80000, #dd0000, #d20000, #c30003, #b40005, #a50007, #8e000a, #76000a, #600107, #4a0202);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 58px; }
  .hero-banner .hero-nav {
    display: inline;
    padding-top: 2rem;
    word-spacing: 3rem;
    font-family: 'Dosis', sans-serif; }
  .hero-banner a {
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-decoration: none; }
  .hero-banner .nate-b {
    width: 117px;
    height: 21px; }
  .hero-banner .banner-heading {
    height: 38px;
    font-family: Dosis;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    color: #ffffff;
    padding: 258px 0 40px 0; }
  .hero-banner .index-p {
    height: 39px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #e6e6e6;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 97px; }
  .hero-banner .lookbook-btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white; }
  .hero-banner .fa-angle-down {
    width: 29px;
    height: 16px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 200px 0 50px 0; }

.line {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-bottom: 70px; }

.head {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px; }

.grid2 {
  padding-bottom: 100px; }
  .grid2 .gender-text {
    padding-top: 42px; }

.retro-collection {
  height: 552px;
  width: 100%;
  background-image: url(../images/retro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center; }
  .retro-collection-h {
    height: 37px;
    font-family: Dosis;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    padding: 199px 0 39px 0; }
  .retro-collection-p {
    height: 38px;
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center; }
  .retro-collection-btn {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: black;
    color: black;
    margin: 0 599px 0 599px; }

.blog {
  width: 100%;
  height: 675px;
  padding-bottom: 100px; }
  .blog-img {
    padding-left: 50px; }
  .blog-h {
    font-family: SourceSansPro;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #333333; }
  .blog-date {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey); }
  .blog-text {
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666; }
  .blog-readmore {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b; }
  .blog .fa-arrow-right {
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a88d7b; }

.lnr-map-marker {
  font-family: Linearicons-Free; }

body {
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  contain: content; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

footer {
  height: 425px;
  background-color: grey; }

.grid {
  display: grid;
  width: 100%; }

.topnav {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  grid-template-areas: "dropdowns free-shipping social-icons"; }
  .topnav .dropdowns {
    grid-area: dropdowns; }
  .topnav .free-shipping {
    grid-area: free-shipping; }
  .topnav .social-icons {
    grid-area: social-icons; }

.grid1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  grid-template-areas: "home-kit hoody crew-neck"; }

.home-kit {
  grid-area: home-kit; }

.hoody {
  grid-area: hoody; }

.crew-neck {
  grid-area: crew-neck; }

.grid2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  text-align: center;
  grid-template-areas: "men women" men;
    grid-template-areas-grid-area: men; }
  .grid2 women {
    grid-area: women; }

.grid3 {
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "blog-img blog-container" blog-img;
    grid-template-areas-grid-area: blog-img; }
  .grid3 blog-container {
    grid-area: blog-container; }

.grid4 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  grid-template-areas: "contact links_shop instagram"; }
  .grid4 .contact {
    grid-area: contact; }
  .grid4 .links_shop {
    grid-area: links_shop; }
  .grid4 .instagram {
    grid-area: instagram; }

.links_shop {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "links shop"; }
  .links_shop .links {
    grid-area: links; }
  .links_shop .shop {
    grid-area: shop; }

/*# sourceMappingURL=main.css.map */
