a {
  color: #a88d7b; }

button {
  color: #a88d7b; }

.topnav {
  text-align: center;
  color: black;
  display: inline; }
  .topnav-text {
    height: 9px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 2.4px;
    color: #8e000a; }
  .topnav .dropdowns {
    padding: 23px 0 21px 0; }
  .topnav .social-icons {
    padding: 20px 0 18px 0; }

.hero-banner {
  width: 100%;
  height: 945px;
  background-image: linear-gradient(to right top, #b80000, #ad0001, #a20001, #980001, #8d0001, #860001, #7e0001, #770001, #710001, #6a0001, #640001, #5e0000);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding-top: 58px; }
  .hero-banner .hero-nav {
    display: inline;
    padding-top: 2rem;
    word-spacing: 3rem;
    font-family: 'Dosis', sans-serif; }
  .hero-banner a {
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-decoration: none; }
  .hero-banner .banner-heading {
    height: 38px;
    font-family: Dosis;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    color: #ffffff;
    padding: 258px 0 40px 0; }
  .hero-banner .index-p {
    height: 39px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #e6e6e6;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 97px; }
  .hero-banner .lookbook-btn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    color: white; }
  .hero-banner .fa-angle-down {
    width: 29px;
    height: 16px;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 200px 0 50px 0; }

.line {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-bottom: 70px; }

.head {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px; }

.grid2 {
  padding-bottom: 100px; }
  .grid2 .gender-text {
    padding-top: 42px; }

.retro-collection {
  height: 552px;
  width: 100%;
  background-image: url(../images/retro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center; }
  .retro-collection-h {
    height: 37px;
    font-family: Dosis;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    padding: 199px 0 39px 0; }
  .retro-collection-p {
    height: 38px;
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center; }
  .retro-collection-btn {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: black;
    color: black;
    margin: 0 599px 0 599px; }

.blog {
  width: 100%;
  height: 675px;
  padding-bottom: 50px; }
  .blog-img {
    padding-left: 50px; }
  .blog-h {
    font-family: SourceSansPro;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #333333; }
  .blog-date {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--warm-grey); }
  .blog-text {
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666; }
  .blog-readmore {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b; }
  .blog .fa-arrow-right {
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #a88d7b; }

.footer-h {
  color: white; }

.contact-h {
  margin-top: 20px; }

.insta1,
.insta2,
.insta3,
.insta4,
.insta5,
.insta6,
.insta7,
.insta8 {
  height: 80px;
  width: 80px;
  background-color: #fff; }

.copyright {
  background-image: linear-gradient(to right top, #b80000, #ad0001, #a20001, #980001, #8d0001, #860001, #7e0001, #770001, #710001, #6a0001, #640001, #5e0000);
  color: white;
  text-align: center;
  margin-top: 50px; }
  .copyright-p {
    padding: 5px 0 5px 0; }

.light-hero-nav {
  display: inline;
  padding-top: 2rem;
  word-spacing: 3rem;
  font-family: 'Dosis', sans-serif; }
  .light-hero-nav a {
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    text-decoration: none; }
  .light-hero-nav .dark-logo {
    margin: 35px 100px 35px 200px;
    width: 116px;
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: var(--black-two); }

.about-hero {
  text-align: center;
  background-image: linear-gradient(to right top, #b80000, #ad0001, #a20001, #980001, #8d0001, #860001, #7e0001, #770001, #710001, #6a0001, #640001, #5e0000); }
  .about-hero h1 {
    padding: 180px 0 35px 0;
    color: #ffffff; }
  .about-hero p {
    padding-bottom: 181px;
    color: #ffffff; }

.about-who-we-are {
  text-align: center;
  margin-top: 60px; }
  .about-who-we-are p {
    margin-left: 54px; }
  .about-who-we-are .who-we-are-image {
    width: 500px;
    height: 490px;
    background: #666666; }

.meet-our-team {
  text-align: center; }
  .meet-our-team h1 {
    margin-top: 100px; }
  .meet-our-team .mot-img {
    height: 305px;
    width: 270px;
    background-color: #666666; }

.what-we-do {
  margin-top: 100px;
  padding-bottom: 50px; }
  .what-we-do h1 {
    text-align: center; }
  .what-we-do p {
    margin: 0 50px 0; }
  .what-we-do-img {
    width: 500px;
    height: 390px;
    background-color: #666666;
    margin: 0 0 0 50px; }

.blog-share .small-blog {
  padding-left: 45px; }
.blog-share .share {
  float: right;
  margin-right: 45px; }
.blog-share .long-line {
  width: 1170px;
  height: 1px;
  background-color: #666666;
  text-align: center;
  margin-top: 23px; }

.blog-section {
  padding: 30px 0 100px 0; }
  .blog-section .blog-item {
    width: 370px; }
  .blog-section .full-line {
    width: 100%;
    height: 1px;
    background-color: #666666; }

body {
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  contain: content; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

footer {
  background-color: black;
  color: #666666; }

i {
  padding: 0.5rem; }

.grid {
  display: grid;
  width: 100%; }

.topnav {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  grid-template-areas: "dropdowns free-shipping social-icons"; }
  .topnav .dropdowns {
    grid-area: dropdowns; }
  .topnav .free-shipping {
    grid-area: free-shipping; }
  .topnav .social-icons {
    grid-area: social-icons; }

.featured-sec {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  text-align: center;
  grid-template-areas: "home-kit hoody crew-neck"; }

.home-kit {
  grid-area: home-kit; }

.hoody {
  grid-area: hoody; }

.crew-neck {
  grid-area: crew-neck; }

.men-women {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  text-align: center;
  grid-template-areas: "men women"; }
  .men-women .men {
    grid-area: men; }
  .men-women .women {
    grid-area: women; }

.blog-grid {
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas: "blog-img blog-container"; }
  .blog-grid .blog-img {
    grid-area: blog-img; }
  .blog-grid .blog-container {
    grid-area: blog-container; }

.footer-grid {
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "contact-links shop-insta" "copyright copyright"; }
  .footer-grid .contact-links {
    grid-area: contact-links;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "contact links"; }
    .footer-grid .contact-links .contact {
      grid-area: contact; }
    .footer-grid .contact-links .links {
      grid-area: links; }
  .footer-grid .shop-insta {
    grid-area: shop-insta;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "shop insta"; }
    .footer-grid .shop-insta .shop {
      grid-area: shop; }
    .footer-grid .shop-insta .insta {
      grid-area: insta;
      grid-template-columns: 1;
      grid-template-rows: auto;
      grid-template-areas: "insta-h" "holder"; }
      .footer-grid .shop-insta .insta .holder {
        grid-area: holder;
        grid-gap: 2px;
        grid-template-areas: "insta1 insta2 insta3 insta4" "insta5 insta6 insta7 insta8"; }
        .footer-grid .shop-insta .insta .holder .insta1 {
          grid-area: insta1; }
        .footer-grid .shop-insta .insta .holder .insta2 {
          grid-area: insta2; }
        .footer-grid .shop-insta .insta .holder .insta3 {
          grid-area: insta3; }
        .footer-grid .shop-insta .insta .holder .insta4 {
          grid-area: insta4; }
        .footer-grid .shop-insta .insta .holder .insta5 {
          grid-area: insta5; }
        .footer-grid .shop-insta .insta .holder .insta6 {
          grid-area: insta6; }
        .footer-grid .shop-insta .insta .holder .insta7 {
          grid-area: insta7; }
        .footer-grid .shop-insta .insta .holder .insta8 {
          grid-area: insta8; }

.copyright {
  grid-area: copyright; }

.about-who-we-are {
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  text-align: center;
  grid-gap: 54px;
  grid-template-areas: "who-we-are-text who-we-are-image"; }
  .about-who-we-are .who-we-are-text {
    grid-area: who-we-are-text; }
  .about-who-we-are .who-we-are-image {
    grid-area: who-we-are-image; }

.team {
  margin: 0 2rem 0 2rem;
  grid-template-areas: "nate keith tendekai henry"; }
  .team .nate {
    grid-area: nate; }
  .team .keith {
    grid-area: keith; }
  .team .tendekai {
    grid-area: tendekai; }
  .team .henry {
    grid-area: henry; }

.what-we-do {
  grid-template-columns: 50% 50%;
  grid-template-areas: "what-we-do-img what-we-do-text"; }
  .what-we-do-img {
    grid-area: what-we-do-img; }
  .what-we-do-text {
    grid-area: what-we-do-text; }

.blog-section1 {
  margin: 0 3rem 0 3rem;
  grid-gap: 5px;
  grid-template-areas: "navy-hoodie baby women-ynwa"; }
  .blog-section1 .navy-hoodie {
    grid-area: navy-hoodie; }
  .blog-section1 .baby {
    grid-area: baby; }
  .blog-section1 .women-ynwa {
    grid-area: women-ynwa; }

.blog-section2 {
  margin: 0 3rem 0 3rem;
  grid-gap: 5px;
  grid-template-areas: "new-balance womens-briefs hoodie"; }
  .blog-section2 .new-balance {
    grid-area: new-balance; }
  .blog-section2 .womens-briefs {
    grid-area: womens-briefs; }
  .blog-section2 .hoodie {
    grid-area: hoodie; }

/*# sourceMappingURL=main.css.map */
