.topnav{
    text-align: center;
    color: black;
    display: inline; 

    &-text {
        height: 9px;
        font-family: SourceSansPro;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: 2.4px;
        color: #8e000a;
    }

}

.hero-banner{
    background-image: linear-gradient(to right top, #ff0000, #f40000, #e80000, #dd0000, #d20000, #c30003, #b40005, #a50007, #8e000a, #76000a, #600107, #4a0202);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 58px;

    nav {
        display: inline;
        padding-top: 2rem;
        word-spacing: 3rem;
        font-family: 'Dosis', sans-serif;
    }


    a {

        width: 34px;
        height: 11px;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        text-align: left;
        color: #ffffff;
        text-decoration: none;
    }

    .nate-b {

        height: 21px;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        text-align: left;
        color: #fffefe;
    }

    .banner-heading {

        height: 38px;
        font-family: Dosis;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.96;
        letter-spacing: normal;
        color: #ffffff;
        padding: 258px 0 40px 0;
    }
      

    .index-p {

        height: 39px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #e6e6e6;
        padding: 0 489px 97px 489px;
    }
    
    .lookbook-btn {

        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #a88d7b;
        color: white;
    }

    .fa-angle-down {

        width: 29px;

        height: 16px;
      
        font-size: 30px;
      
        font-weight: normal;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 1.6;
      
        letter-spacing: normal;
      
        text-align: center;
      
        color: #ffffff;
        padding: 292px 0 50px 0;
    }
}

.line{

    width: 50px;
    height: 2px;
    background-color: #a88d7b;
}

.head {

    text-align: center;
}

.retro-collection {

    background: url(../images/retro.jpg);
}