.grid{
    display: grid;
    width: 100%;
    text-align: center;
}

.topnav{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;

    grid-template-areas: 
    "dropdowns free-shipping social-icons";

    .dropdowns{
       grid-area: dropdowns; 
    }

    .free-shipping{
        grid-area: free-shipping;
    }

    .social-icons{
        grid-area: social-icons;
    }
}


.grid1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    grid-template-areas:
    "home-kit hoody crew-neck";
}

.home-kit {
    grid-area: home-kit;
}

.hoody {
    grid-area: hoody;
}

.crew-neck {
    grid-area: crew-neck;
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas:
    "men women"
}